<div class="container" id="make">
    <header class="page-header">
        <h3>멘토리스트<small>최고의 멘토들을 찾아보세요.</small></h3>
    </header>
                    
                    
    <div class="tile">
        <ul class="tab-nav tn-justified">
            <li><a href="make-mentor-suggestions.html"><i class="zmdi zmdi-thumb-up"></i><small>추천멘토</small></a></li>
            <li><a href="make-my-mentor.html"><i class="zmdi zmdi-sun"></i><small>나의 멘토</small></a></li>
            <li class="active"><a href="make-mentor-interest.html"><i class="zmdi zmdi-star"></i><small>관심멘토</small></a></li>
			<li><a href="make-my-mentee.html"><i class="zmdi zmdi-flower-alt"></i><small>나의 멘티</small></a></li>
        </ul>
                    
                        
        <div class="t-body tb-padding">
            <div class="contacts clearfix row">
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/1.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>박지수</strong>
                            <small>IT/사무</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i>삭제</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/2.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>김국진</strong>
                            <small>요리</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/3.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>곽경찰</strong>
                            <small>경찰</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/4.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>도루묵</strong>
                            <small>떡장사</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/5.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>이임수</strong>
                            <small>프로그래머</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/6.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>박희</strong>
                            <small>유아교육</small>
                        </div>
                
                        <div class="c-footer">
                            <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>