<div class="container" id="make">
    <header class="page-header">
        <h3>멘토리스트<small>최고의 멘토들을 찾아보세요.</small></h3>
    </header>
                    
                    
    <div class="tile">
        <ul class="tab-nav tn-justified">
            <li><a href="make-mentor-suggestions.html"><i class="zmdi zmdi-thumb-up"></i><small>추천멘토</small></a></li>
            <li><a href="make-my-mentor.html"><i class="zmdi zmdi-sun"></i><small>나의 멘토</small></a></li>
            <li><a href="make-mentor-interest.html"><i class="zmdi zmdi-star"></i><small>관심멘토</small></a></li>
			<li class="active"><a href="make-my-mentee.html"><i class="zmdi zmdi-flower-alt"></i><small>나의 멘티</small></a></li>
        </ul>
		<div class="clearfix">
							
			<div class="col-sm-6 m-b-20">
				<div class="m-title">
					<i class="zmdi zmdi-account-o c-blue"></i>
					<h3>개인</h3>
				</div>
								
				<div class="list-personal">
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/1.jpg" alt="" width="36" height="36">
						</div>이정현
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/2.jpg" alt="" width="36" height="36">
						</div>곽견훈
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/3.jpg" alt="" width="36" height="36">
						</div>이임수
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/4.jpg" alt="" width="36" height="36">
						</div>이예찬
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/5.jpg" alt="" width="36" height="36">
						</div>배은실
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/6.jpg" alt="" width="36" height="36">
						</div>박선주
					</a>
					<a href="#" class="list-group-item">
						<div class="pull-left">
							<img class="img-avatar" src="/img/profile-pics/7.jpg" alt="" width="36" height="36">
						</div>이강욱
					</a>
				</div>
							
			</div>
			<div class="col-sm-6 m-b-20">
				<div class="m-title">
					<i class="zmdi zmdi-accounts-outline c-blue"></i>
					<h3>그룹</h3>
				</div>
					<div class="group-line">
						<div class="clearfix m-group-title">
							<p class="f-700 c-black">미디셀</p><div><span>2016-05-01</span></div>
						</div>
						<div class="m-group-name clearfix">
							<div class="pull-left">
								<img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">											
								<span>이정현</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">												
								<span>곽견훈</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">												
								<span>이임수</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">												
								<span>배은실</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/5.jpg" alt="" class="img-avatar m-r-10">		
								<span>이예찬</span>
							</div>
											
						</div>
						<div class="m-group-property clearfix">
							<div class="m-group interests">IT/신기술</div>
							<div class="m-group personNum">5명</div>

						</div>
										
					</div>
									
									
					<div class="group-line">
						<div class="clearfix m-group-title">
							<p class="f-700 c-black">홈피셀</p><div><span>2016-04-28</span></div>
						</div>
						<div class="m-group-name clearfix">
							<div class="pull-left">
								<img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">											
								<span>정성욱</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">												
								<span>정민석</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">												
								<span>김인선</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">												
								<span>이재인</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/5.jpg" alt="" class="img-avatar m-r-10">		
								<span>강경태</span>
							</div>
											
						</div>
						<div class="m-group-property clearfix">
							<div class="m-group interests">산업</div>
							<div class="m-group personNum">5명</div>

						</div>
					</div>
									
					<div class="group-line">
						<div class="clearfix m-group-title">
							<p class="f-700 c-black">영상셀</p><div><span>2016-04-25</span></div>
						</div>
						<div class="m-group-name clearfix">
							<div class="pull-left">
								<img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">											
								<span>정운섭</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">												
								<span>김주령</span>
							</div>
							<div class="pull-left">
								<img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">												
								<span>엄윤수</span>
							</div>
						</div>
						<div class="m-group-property clearfix">
							<div class="m-group interests">사무</div>
							<div class="m-group personNum">3명</div>

						</div>
					</div>
									
					<!--<div class="group-line">
						<div class="clearfix m-group-title">
							<p class="f-700 c-black">멀티미디어공학과(사황)</p><div><span>2016-04-20</span></div>
						</div>
						<div class="m-group-name clearfix">
							<div class="pull-left">
								<img src="img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">											
								<span>규찡</span>
							</div>
							<div class="pull-left">
								<img src="img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">												
								<span>ㅎㄱ찡</span>
							</div>
							<div class="pull-left">
								<img src="img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">												
								<span>일곱개의 조대제</span>
							</div>
							<div class="pull-left">
								<img src="img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">												
								<span>ㅎㅅ찡</span>
							</div>
							<div class="pull-left">
								<img src="img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">												
								<span>왕고</span>
							</div>
						</div>
						<div class="m-group-property clearfix">
							<div class="m-group interests">과학</div>
							<div class="m-group personNum">4명</div>
						</div>
					</div>-->
								
								
			</div>
		</div>
                        
                        
    </div>
</div>