<div class="container" id="make">
    <header class="page-header">
        <h3>멘토리스트<small>최고의 멘토들을 찾아보세요.</small></h3>
    </header>

    <div class="tile">
        <ul class="tab-nav tn-justified">
            <li><a href="make-mentor-suggestions.html"><i class="zmdi zmdi-thumb-up"></i><small>추천멘토</small></a></li>
            <li class="active"><a href="make-my-mentor.html"><i class="zmdi zmdi-sun"></i><small>나의 멘토</small></a></li>
            <li><a href="make-mentor-interest.html"><i class="zmdi zmdi-star"></i><small>관심멘토</small></a></li>
			<li><a href="make-my-mentee.html"><i class="zmdi zmdi-flower-alt"></i><small>나의 멘티</small></a></li>
        </ul>
                    
        <div class="t-body tb-padding">
            <div class="contacts clearfix row">

                <div class="col-md-2 col-sm-4 col-xs-6">
                    <div class="c-item">
                        <a href="" class="ci-avatar">
                            <img src="/img/contacts/1.jpg" alt="">
                        </a>
                
                        <div class="c-info">
                            <strong>박지수</strong>
                            <small>IT/사무</small>
                        </div>
                
                        <div class="c-footer">
                            <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-comment-text"></i>채팅하기</button>
							<button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-accounts-alt"></i>그룹신청</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
