{{#section 'head'}}
<link href="vendors/bower_components/bootstrap-sweetalert/lib/sweet-alert.css" rel="stylesheet">

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
<script id="favoriteTemplate" type="text/x-handlebars-template">
    
</script>
{{/section}}

<div class="container" id="make">
    <header class="page-header">
        <h3>멘토리스트<small>최고의 멘토들을 찾아보세요.</small></h3>
    </header>
                    
                    
    <div class="tile">
        <ul class="tab-nav tn-justified">
            <li class="active"><a href="#tab1" data-toggle="tab"><i class="zmdi zmdi-thumb-up"></i><small>추천멘토</small></a></li>
            <li><a href="#tab2" data-toggle="tab"><i class="zmdi zmdi-sun"></i><small>나의 멘토</small></a></li>
            <li><a href="#tab3" data-toggle="tab"><i class="zmdi zmdi-star"></i><small>관심멘토</small></a></li>
			<li><a href="#tab4" data-toggle="tab"><i class="zmdi zmdi-flower-alt"></i><small>나의 멘티</small></a></li>
        </ul>
        <div class="tab-content">
            <!-- 추천 멘토 -->
            <div id="tab1" class="t-body tb-padding tab-pane fade active in">
                <div class="contacts clearfix row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/1.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>박지수</strong>
                                <small>IT/사무</small>
                                <div>
                                    <strong class="m_point">포인트</strong>
                                    <strong>500p</strong>
                                </div>

                                <button class="btn btn-primary c-white"><i class="zmdi zmdi-email"></i></button>
                                <button class="btn btn-warning c-white"><i class="zmdi zmdi-account-add"></i></button>
                                <button class="btn btn-danger c-white"><i class="zmdi zmdi-star"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/10.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>Marlene Vasquez</strong>
                                <small>vasquez@example.com</small>
                                <div>
                                    <strong class="m_point">포인트</strong>
                                    <strong>500p</strong>
                                </div>
                                <button class="btn btn-primary c-white"><i class="zmdi zmdi-email"></i></button>
                                <button class="btn btn-warning c-white"><i class="zmdi zmdi-account-add"></i></button>
                                <button class="btn btn-danger c-white"><i class="zmdi zmdi-star"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/11.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>Loretta Morrisonz</strong>
                                <small>morrisonz@example.com</small>
                                <div>
                                    <strong class="m_point">포인트</strong>
                                    <strong>500p</strong>
                                </div>
                                <button class="btn btn-primary c-white"><i class="zmdi zmdi-email"></i></button>
                                <button class="btn btn-warning c-white"><i class="zmdi zmdi-account-add"></i></button>
                                <button class="btn btn-danger c-white"><i class="zmdi zmdi-star"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/12.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>Yvonne Wood</strong>
                                <small>wood@example.com</small>
                                <div>
                                    <strong class="m_point">포인트</strong>
                                    <strong>500p</strong>
                                </div>
                                <button class="btn btn-primary c-white"><i class="zmdi zmdi-email"></i></button>
                                <button class="btn btn-warning c-white"><i class="zmdi zmdi-account-add"></i></button>
                                <button class="btn btn-danger c-white"><i class="zmdi zmdi-star"></i></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/13.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>Denise Franklin</strong>
                                <small>franklin@example.com</small>
                                <div>
                                    <strong class="m_point">포인트</strong>
                                    <strong>500p</strong>
                                </div>
                                <button class="btn btn-primary c-white"><i class="zmdi zmdi-email"></i></button>
                                <button class="btn btn-warning c-white"><i class="zmdi zmdi-account-add"></i></button>
                                <button class="btn btn-danger c-white"><i class="zmdi zmdi-star"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="load-more">
                    <a href=""><i class="zmdi zmdi-refresh-alt"></i> 더 보기</a>
                </div>
            </div>

            <!-- 나의 멘토 -->
            <div id="tab2" class="t-body tb-padding tab-pane fade">
                <div class="contacts clearfix row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="/img/contacts/1.jpg" alt="">
                            </a>

                            <div class="c-info">
                                <strong>박지수</strong>
                                <small>IT/사무</small>
                            </div>

                            <div class="c-footer">
                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-comment-text"></i>채팅하기</button>
                                <button class="btn btn-default btn-icon-text"><i class="zmdi zmdi-accounts-alt"></i>그룹신청</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 관심 멘토 -->
            <div id="tab3" class="t-body tb-padding tab-pane fade">
                <div class="contacts clearfix row">
                    {{#if notresult}}
                    <p style="text-align:center; margin:0">{{notresult}}</p>
                    {{/if}}
                    {{#each favoriteUser}}
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <div class="c-item">
                            <a href="" class="ci-avatar">
                                <img src="{{picture}}" alt="">
                            </a>

                            <div class="c-info">
                                <strong>{{name}}</strong>
                                <small>{{specialty}}</small>
                            </div>

                            <div class="c-footer">
                                <button><i class="zmdi zmdi-person-add"></i> 삭제</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>

            <!-- 나의 멘티 -->
            <div id="tab4" class="clearfix tab-pane fade">
                <div class="col-sm-6 m-b-20">
                    <div class="m-title">
                        <i class="zmdi zmdi-account-o c-blue"></i>
                        <h3>개인</h3>
                    </div>

                    <div class="list-personal">
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/1.jpg" alt="" width="36" height="36">
                            </div>이정현
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/2.jpg" alt="" width="36" height="36">
                            </div>곽견훈
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/3.jpg" alt="" width="36" height="36">
                            </div>이임수
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/4.jpg" alt="" width="36" height="36">
                            </div>이예찬
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/5.jpg" alt="" width="36" height="36">
                            </div>배은실
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/6.jpg" alt="" width="36" height="36">
                            </div>박선주
                        </a>
                        <a href="#" class="list-group-item">
                            <div class="pull-left">
                                <img class="img-avatar" src="/img/profile-pics/7.jpg" alt="" width="36" height="36">
                            </div>이강욱
                        </a>
                    </div>

                </div>
                <div class="col-sm-6 m-b-20">
                    <div class="m-title">
                        <i class="zmdi zmdi-accounts-outline c-blue"></i>
                        <h3>그룹</h3>
                    </div>
                    <div class="group-line">
                        <div class="clearfix m-group-title">
                            <p class="f-700 c-black">미디셀</p><div><span>2016-05-01</span></div>
                        </div>
                        <div class="m-group-name clearfix">
                            <div class="pull-left">
                                <img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">
                                <span>이정현</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">
                                <span>곽견훈</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">
                                <span>이임수</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">
                                <span>배은실</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/5.jpg" alt="" class="img-avatar m-r-10">
                                <span>이예찬</span>
                            </div>

                        </div>
                        <div class="m-group-property clearfix">
                            <div class="m-group interests">IT/신기술</div>
                            <div class="m-group personNum">5명</div>

                        </div>

                    </div>


                    <div class="group-line">
                        <div class="clearfix m-group-title">
                            <p class="f-700 c-black">홈피셀</p><div><span>2016-04-28</span></div>
                        </div>
                        <div class="m-group-name clearfix">
                            <div class="pull-left">
                                <img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">
                                <span>정성욱</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">
                                <span>정민석</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">
                                <span>김인선</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/4.jpg" alt="" class="img-avatar m-r-10">
                                <span>이재인</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/5.jpg" alt="" class="img-avatar m-r-10">
                                <span>강경태</span>
                            </div>

                        </div>
                        <div class="m-group-property clearfix">
                            <div class="m-group interests">산업</div>
                            <div class="m-group personNum">5명</div>

                        </div>
                    </div>

                    <div class="group-line">
                        <div class="clearfix m-group-title">
                            <p class="f-700 c-black">영상셀</p><div><span>2016-04-25</span></div>
                        </div>
                        <div class="m-group-name clearfix">
                            <div class="pull-left">
                                <img src="/img/profile-pics/1.jpg" alt="" class="img-avatar m-r-10">
                                <span>정운섭</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/2.jpg" alt="" class="img-avatar m-r-10">
                                <span>김주령</span>
                            </div>
                            <div class="pull-left">
                                <img src="/img/profile-pics/3.jpg" alt="" class="img-avatar m-r-10">
                                <span>엄윤수</span>
                            </div>
                        </div>
                        <div class="m-group-property clearfix">
                            <div class="m-group interests">사무</div>
                            <div class="m-group personNum">3명</div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{{#section 'jquery'}}
<script>
    $(document).ready(function () {

    });
</script>
{{/section}}