//login
#l-login {
    form {
        input+small {
            color: red;
        }
    }
	a {
		span {
			margin-right: 3px;
		}
	}
}
//register
#l-register {
    form {
        input+small {
            color: red;
        }
    }
}
//profile-about
.fg-line {
	label {
		margin-bottom:10px;
	}
}