<h1 style="background-color:#111; text-align:center; color:gold; border:3px dashed chocolate">Welcome to Meadowlark Travel</h1>
<h2>Check out our featured tour packages:</h2>
<ul>
    <li><a href="/vacations">Vacations</a></li>
    <li><a href="/vacation/hood-river-day-trip">Hood River</a></li>
    <li><a href="/vacation/oregon-coast-getaway">Oregon Coast</a></li>
    <li><a href="/vacation/rock-climbing-in-bend">Rock Climbing in Bend</a></li>
</ul>
<h2>/Index/</h2>
<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/contest/vacation-photo">File Upload</a></li>
    <li><a href="/newsletter">Newsletter</a></li>
    <li><a href="/nursery-rhyme">Ajax</a></li>
    <li><a href="/staff">Staff</a></li>
    <li><a href="/user-rest">User Rest</a></li>
</ul>